html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 10px solid orange;
  border-right: 10px solid orange;
}

p{
  font-size: 4em;
}